/**
 * rubber ring specific styles. Here you shall not use any general elements or selectors at all.
 */
*[contenteditable] {
  outline: dashed green 1px;
  cursor: pointer;

  // disable selection of those action links
  .reset-content, .duplicate-content, .remove-duplicat {
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
// TODO dynamic margins for all these buttons
.reset-content {
  background: url("/assets/glyphicons-halflings.png") no-repeat -217px -25px;;
  width: 12px;
  height: 13px;
  display: inline-block;
  float: right;
  outline: none;
  margin-top: -31px;
}
.duplicable .reset-content {
  margin-right: 13px;
}
.duplicate-content {
  background: url("/assets/glyphicons-halflings.png") no-repeat -1px -97px;
  width: 12px;
  height: 13px;
  display: inline-block;
  float: right;
  outline: none;
  margin-top: -31px;
}
.remove-duplicat {
  background: url("/assets/glyphicons-halflings.png") no-repeat -25px -97px;
  width: 12px;
  height: 13px;
  display: inline-block;
  float: right;
  outline: none;
  margin-top: -31px;
}

.images-manager {
  display: none; // hide by default

  .already_uploaded_images {
    margin-top: 35px;
    img {
      width: 65px;
    }
  }

  .remove_not_used_images {
    margin-top: 7px;
  }
  
  .image_upload_box {
    display: -webkit-flex;
    display: flex;
    height: 75px;
    border: dashed green 1px;

    &.drag-hover {
      background-color: #abee9b;
    }
    .image_upload_text {
      margin: auto;
    }
    .preview {
      display: none;
    }
  }

  .rubber_cache_preview {
    font-family: calibri,tahoma,arial,sans-serif;
    position: fixed;
    right: 0;
    top: 0;

    a {
      color: green;

      &:visited {
        color: green;
      }
    }
  }
}

.page-title-manager {
  display: none; // hide by default
}

// bootstrap overrides
.tbs * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tbs .navbar {
  margin-bottom: 0;
  font-size: 15px;
}
// for smooth slide animation
.tbs .well {
  min-height: 0;
}
