.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache


.idea
.vagrant
Vagrantfile
vagrantconfig_local.yml

# http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock


test/dummy/public/upload
test/dummy/public/build
test/dummy/public/assets
