<!DOCTYPE html>
<html>
<head>
  <title>Rubber Ring Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'rubber_ring/application', media: 'all' %>
</head>
<body>
  <div class="tbs">
    <%= yield %>
  </div>
</body>
</html>
