<img src="/images/rubber_ring.jpg" alt="" />

<h2>Check out duplicable stuff</h2>
<!-- 3 is initial duplications, we will let user change it with nice GUI -->
<%= duplicable_editable_field(:ul, {group: 'blog_posts', child_tag: 'li'}, @content) do %>
  test
<% end %>
