<img src="/images/rubber_ring.jpg" alt="" />

<%= editable_field(:h1, {key: 'header'}, @page) do %>
  Welcome to Rubber Ring - CMS that doesn't make you think about it.
<% end %>

<%= editable_field(:div, {key: 'first_content', class: 'multi-line'}, @page) do %>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
<% end %>

<h2>Check out duplicable stuff</h2>
<!-- 3 is initial duplications, we will let user change it with nice GUI -->
<%= duplicable_editable_field(:ul, {group: 'blog_posts', child_tag: 'li'}, @page) do %>
  Text
  <h3>h3</h3>
  <span>span</span>
<% end %>
