<% unless @page_caching %>
  <script type="text/javascript">
    var App = App || {};
    App.controller = "<%= params[:controller] %>";
    App.action     = "<%= params[:action] %>";
  </script>
  <div class="rubber_cache_preview">
    <a href="?cache=1" target="_blank">Preview and prepare for publish!</a>
  </div>
  <%= javascript_include_tag 'rubber_ring/editor' %>
<% end %>
