<% if @admin and not @page_caching %>
<!-- TODO: delete meh -->
  <div class="tbs rr-control">
    <div class="well well-small">
      <span>Repeat control for <strong><%= key %></strong> key</span>

      <input id="<%= key %>" type="number" data-cms="<%= key %>"
             value="<%= @page.content[key] || 1 %>" min="1" max="99" disabled />
      <button data-action="add"></button>
      <button data-action="remove"></button>
    </div>
  </div>
<% end %>
