<% if @admin and not @page_caching %>
  <!-- TODO: do me like dropdown! -->
  <div class="tbs rr-control">
    <div class="well well-small">
      <span>Template for <strong><%= key %></strong></span>

      <select data-cms="<%= key %>">
        <% templates.each do |template| %>
          <option value="<%= template %>"><%= template %></option>
        <% end %>
      </select>

      <span class='add-remove'>
        <button data-action="add"></button>
        <button data-action="remove"></button>
      </span>
      <button data-action="sort">Enable sort</button>
    </div>
  </div>
<% end %>
