<% if @admin and not @page_caching %>
  <!-- TODO: do me like dropdown! -->
  <div class="tbs rr-control">
    <div class="well well-small">
      <span>Template for <strong><%= key %></strong></span>

      <select data-cms="<%= key %>">
        <% templates.uniq.each do |template| %>
          <option value="<%= template %>"><%= template %></option>
        <% end %>
      </select>

      <button data-action="add"></button>
      <button data-action="remove" ></button>
    </div>
  </div>
<% end %>
