<h1>Templates #1</h1>

<% template(
  [
    {template: 'article',   tclass: 't-article', element: 'article'},
    {template: 'blog_post', tclass: 't-blog',    element: 'div'}
  ],
  {key: 'template_key_1', wrap_element: 'div', wrap_class: 'templates'}, @page)
%>

<h1>Templates #2</h1>

<% template(
   [
       {template: 'article',   tclass: 't-article', element: 'article'}
   ],
   {key: 'template_key_2', wrap_element: 'div', wrap_class: 'templates'}, @page)
%>

<%= link_to 'Second page', page2_path %>
