<form method="post" action="<%= login_path %>" class="form-inline">
  <fieldset>
    <legend>Login</legend>
    <input type="password" name="password" placeholder="Password">
    <button type="submit" class="btn">Login</button>
  </fieldset>
</form>

<% if flash[:error] %>
  <div class="alert alert-error">
    <%= flash[:error] %>
  </div>
<% end %>
