<div class="tbs">
  <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% else %>
    <div class="alert alert-success">
      Site published.
    </div>
  <% end %>

  <%= link_to 'Go home', main_app.root_path %>
</div>
